block variables

doctype html
html(lang="en")
  head
    base(href='/')
    meta(charset='utf-8')
    meta(name='viewport' content="width=device-width, initial-scale=1")
    meta(name='description' content="Paystarr")
    link(rel='stylesheet' href='/public/main.css')

    //- Favicon
    //- link(rel="apple-touch-icon" sizes="180x180" href="/public/apple-touch-icon.png")
    //- link(rel="icon" type="image/png" sizes="32x32" href="/public/favicon-32x32.png")
    //- link(rel="icon" type="image/png" sizes="16x16" href="/public/favicon-16x16.png")
    //- link(rel="manifest" href="/public/site.webmanifest")
    meta(name="msapplication-TileColor" content="#da532c")
    meta(name="theme-color" content="#101828")

    title Paystarr

    body

    .content#butter(data-template=template)
      include ./partials/header
      block content

    script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/gsap.min.js" integrity="sha512-f8mwTB+Bs8a5c46DEm7HQLcJuHMBaH/UFlcgyetMqqkvTcYg4g5VXsYR71b3qC82lZytjNYvBj2pf0VekA9/FQ==" crossorigin="anonymous" referrerpolicy="no-referrer")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/ScrollTrigger.min.js" integrity="sha512-A64Nik4Ql7/W/PJk2RNOmVyC/Chobn5TY08CiKEX50Sdw+33WTOpPJ/63bfWPl0hxiRv1trPs5prKO8CpA7VNQ==" crossorigin="anonymous" referrerpolicy="no-referrer")
    script(src='/public/scripts/butter.js') 
    script(src='https://unpkg.com/@lottiefiles/lottie-player@0.4.0/dist/lottie-player.js') 
    script(src='/public/main.js')